@model Category
<form method="post">
    <div class="row pb-2">
        <h2 class="text-primary"> Crear categoria</h2>
        <hr />

    </div>
    <!-- validar -->
    <div asp-validation-summary="All"></div>
    <div class="mb-3 row p-1">
        <label asp-for="Name" class="p-0">
            
        </label>
        <input asp-for="Name"  class="form-control">
        

    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Price" class="p-0">           
        </label>
        <input asp-for="Price"  class="form-control"/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="row ">
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-danger form-control ">
                Guardar
            </button>
        </div>
        <div class="col-6 col-md-3">
            <a asp-controller="Category" asp-action="Index" type="submit" class="btn btn-secondary form-control ">
                Cancelar
            </a>
        </div>

    </div>
</form>
<!-- llamar a la carpeta de shared_validationScripsparqwtial-->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}